<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Kept out of release builds: this is only for local automation and QA. -->
    <application>
        <receiver
            android:name=".AutomationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gassticker.AUTOMATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
